body,html,#root{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: black;
}

.ro{border:1px solid red;}


#root{}
.App{
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

a,button{cursor: pointer;}

button{
  background: transparent;
  border: none;
}

h1,h2,h3,h4,h5,h6 {font-family: 'Staatliches', cursive;}

.cb{color:white;}
.cr{color:#D65A31;}

.slick-current{
  margin-left: -1em;
}

.cont-discos{
  transform-style: preserve-3d;
  perspective:1500px;
  position: relative;
  transform: translateZ(0);
  will-change: transform;
}

.ancla{
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transform: translateZ(0);
  will-change: transform;
  opacity: 1;
}


@keyframes left {
  from{
    transform:translateX();
  }
}


.hideM{
  transform:translateX(50%);
  opacity: 0;
}



.menu{
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.subir {
  position: absolute;
  top: 40%;
  right:0;
  transform: translateX(100%);
  opacity: 0;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

.subir.Shows{
  transform:translateX(0);
  opacity: 1;
}

.loading{
  position:relative;

  &:before,&:after{
    content:"";
    width: 40px;
    height:40px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius:50%;
    transform:translate(-50%,-50%);
    border:4px solid rgba(0,0,0,.1);
  }

  &:after{
    animation: girar 1s linear infinite;
    border:none;
    border-left:2px solid white;
  }
}

@keyframes girar{
  from{transform: translate(-50%,-50%) rotate(0deg);}
  to{transform: translate(-50%,-50%) rotate(360deg);}
}

.visa{
  opacity: 1;
}

.link-red{
  margin-right: 10px;
  display: block;
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  box-shadow: 0 0 0 0 #D65A31;

}

.cargando{
  position: absolute;
  z-index: 10000;
  width:100vw;
  height: 100vh;
  background-color: #D65A31;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  color:white;
  h5{margin-bottom: 2em;}
}


#fountainG{
  position:relative;
  width:270px;
  height:33px;
  margin:0;
}

.fountainG{
  position:absolute;
  top:0;
  background-color:rgba(255,255,255,0.95);
  width:33px;
  height:33px;
  animation-name:bounce_fountainG;
  -o-animation-name:bounce_fountainG;
  -ms-animation-name:bounce_fountainG;
  -webkit-animation-name:bounce_fountainG;
  -moz-animation-name:bounce_fountainG;
  animation-duration:1.5s;
  -o-animation-duration:1.5s;
  -ms-animation-duration:1.5s;
  -webkit-animation-duration:1.5s;
  -moz-animation-duration:1.5s;
  animation-iteration-count:infinite;
  -o-animation-iteration-count:infinite;
  -ms-animation-iteration-count:infinite;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-iteration-count:infinite;
  animation-direction:normal;
  -o-animation-direction:normal;
  -ms-animation-direction:normal;
  -webkit-animation-direction:normal;
  -moz-animation-direction:normal;
  transform:scale(.3);
  -o-transform:scale(.3);
  -ms-transform:scale(.3);
  -webkit-transform:scale(.3);
  -moz-transform:scale(.3);
  border-radius:21px;
  -o-border-radius:21px;
  -ms-border-radius:21px;
  -webkit-border-radius:21px;
  -moz-border-radius:21px;
}

#fountainG_1{
  left:0;
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -ms-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
}

#fountainG_2{
  left:34px;
  animation-delay:0.75s;
  -o-animation-delay:0.75s;
  -ms-animation-delay:0.75s;
  -webkit-animation-delay:0.75s;
  -moz-animation-delay:0.75s;
}

#fountainG_3{
  left:68px;
  animation-delay:0.9s;
  -o-animation-delay:0.9s;
  -ms-animation-delay:0.9s;
  -webkit-animation-delay:0.9s;
  -moz-animation-delay:0.9s;
}

#fountainG_4{
  left:101px;
  animation-delay:1.05s;
  -o-animation-delay:1.05s;
  -ms-animation-delay:1.05s;
  -webkit-animation-delay:1.05s;
  -moz-animation-delay:1.05s;
}

#fountainG_5{
  left:135px;
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -ms-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
}

#fountainG_6{
  left:169px;
  animation-delay:1.35s;
  -o-animation-delay:1.35s;
  -ms-animation-delay:1.35s;
  -webkit-animation-delay:1.35s;
  -moz-animation-delay:1.35s;
}

#fountainG_7{
  left:203px;
  animation-delay:1.5s;
  -o-animation-delay:1.5s;
  -ms-animation-delay:1.5s;
  -webkit-animation-delay:1.5s;
  -moz-animation-delay:1.5s;
}

#fountainG_8{
  left:236px;
  animation-delay:1.64s;
  -o-animation-delay:1.64s;
  -ms-animation-delay:1.64s;
  -webkit-animation-delay:1.64s;
  -moz-animation-delay:1.64s;
}



@keyframes bounce_fountainG{
  0%{
    transform:scale(1);
    background-color:rgba(255,255,255,0.98);
  }

  100%{
    transform:scale(.3);
    background-color:rgb(214,90,49);
  }
}

@-o-keyframes bounce_fountainG{
  0%{
    -o-transform:scale(1);
    background-color:rgba(255,255,255,0.98);
  }

  100%{
    -o-transform:scale(.3);
    background-color:rgb(214,90,49);
  }
}

@-ms-keyframes bounce_fountainG{
  0%{
    -ms-transform:scale(1);
    background-color:rgba(255,255,255,0.98);
  }

  100%{
    -ms-transform:scale(.3);
    background-color:rgb(214,90,49);
  }
}

@-webkit-keyframes bounce_fountainG{
  0%{
    -webkit-transform:scale(1);
    background-color:rgba(255,255,255,0.98);
  }

  100%{
    -webkit-transform:scale(.3);
    background-color:rgb(214,90,49);
  }
}

@-moz-keyframes bounce_fountainG{
  0%{
    -moz-transform:scale(1);
    background-color:rgba(255,255,255,0.98);
  }

  100%{
    -moz-transform:scale(.3);
    background-color:rgb(214,90,49);
  }
}


.App::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #3a3a3a;
}

.App::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

.App::-webkit-scrollbar-thumb
{
  background-color: #D65A31;
}